.empty-block-appender {
    --button-color: #192f5f;
    --button-color-hover: var(--wp-admin-theme-color);
    --button-border: #192f5f;
    --button-border-hover: var(--wp-admin-theme-color);
    --button-background: transparent;
    --button-background-hover: transparent;
    --text-color: #192f5f;
    --tr: .3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;

    &--light {
        --button-color: #fff;
        --button-color-hover: #192f5f;
        --button-border: #fff;
        --button-border-hover: #fff;
        --button-background: transparent;
        --button-background-hover: #fff;
        --text-color: #fff;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__icon {
        width: 48px;
        height:48px;
        color: var(--text-color);
        margin-bottom: 16px;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 110%;
        color: var(--text-color);
        margin-bottom: 0.5rem;
    }

    &__text {
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-color);
        margin-bottom: 1.5rem;
    }

    &__button {
        .block-editor-button-block-appender {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition:
                color var(--tr),
                border-color var(--tr);
            cursor: pointer;
            border: 2px solid var(--button-border) !important;
            box-shadow: none;
            border-radius: 10px;
            background: var(--button-background) !important;
            padding: 12px 24px;
            min-height: 50px;
            min-width: 200px;
            color: var(--button-color);
            font-weight: 600;
            font-size: 22px;

            &:hover,
            &:focus {
                color: var(--button-color-hover) !important;
                border-color: var(--button-border-hover) !important;
                outline: none !important;
                box-shadow: none !important;
                background: var(--button-background-hover) !important;
            }

            &::before,
            &::after {
                display: none !important;
            }

            .block-editor-button-block-appender__content {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
        }
    }
}
