.root-pattern-appender {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: none !important;
    width: calc(100% - 60px);

    &::after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s;
        border-radius: 2px;
        background: #000;
        padding: 4px 8px;
        width: max-content;
        max-width: 200px;
        content: attr(data-tooltip);
        color: #f0f0f0;
        font-size: 12px;
        line-height: 1.4;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen-Sans,
            Ubuntu,
            Cantarell,
            Helvetica Neue,
            sans-serif;
        text-align: center;
        white-space: nowrap;
    }

    &:hover::after {
        visibility: visible;
        opacity: 1;
    }
}

&:has(> .root-pattern-appender):has(> .root-block-appender) > .root-pattern-appender {
    left: 65%;
    width: 20%;
    transform: none;
    max-width: none !important;
    margin: unset !important;
    box-shadow: none;
    border: 1px solid #000;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
