.editor-visual-editor.is-resizable {
    // Hide then editing a pattern/reusable block
    .root-block-appender {
        display: none;
    }
}

.root-block-appender {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - var(--content-padding) * 2);

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        width: max-content;
        max-width: 200px;
        white-space: nowrap;
        background: #000;
        border-radius: 2px;
        color: #f0f0f0;
        font-size: 12px;
        line-height: 1.4;
        padding: 4px 8px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    }

    &:hover::after {
        visibility: visible;
        opacity: 1;
    }

    // hide the default appender
    & ~ .block-list-appender.wp-block {
        display: none;
    }
}
