.block-editor__container {
    .bc-image-wrapper {
        position: relative;
        height: auto;
        align-self: start;

        &__actions {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 5px 15px;
            z-index: 20;

            @media screen and (max-width: 768px) {
                gap: 15px;
            }
        }

        &__btn {
            font-size: 14px !important;
            backdrop-filter: blur(16px) saturate(180%);
            background: hsla(0, 0%, 100%, 0.75);
            flex-grow: 1;
            justify-content: center;
            max-width: 130px;

            @media screen and (max-width: 768px) {
                padding: 5px;
            }
        }

        &__overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(3px);
        }

        &:hover {
            .bc-image-wrapper__actions {
                display: flex;
            }

            .bc-image-wrapper__overlay {
                display: block;
            }
        }
    }
}